@media (max-width: 768px) {
    figure{
        width: 100%;
    }
    #gallery {
        width: 100%;
        max-width: 1200px;
        
    }
    @media (min-width: 769px) and (max-width: 1200px) {
        
    }