 *{
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', sans-serif;
	
	
    
}
#galeria .zdjecia{
    font-size: 0px;
    text-align: center;
}
#galeria .zdjecia {
    height: 100%;
    background-size: cover;
    background-position: center;
    display: block;
    width: 33%;
    position: relative;
    font-size: initial;
}

#galeria .zdjecia #zdjecie_1{
    
    background-image: url("img/man-1.jpg");
}
#galeria .zdjecia #zdjecie_2{
    
    background-image: url("img/man-2.jpg");
}

#galeria .zdjecia #zdjecie_3{
    
    background-image: url("img/man-1.jpg");
}


