
@media(min-width:1171px) {
    body {
        background-color: #000;
        text-align: left;
        
    }
    #photo .photo1 {
        height: 100%;
    }
    #photo .photo1 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        padding-top:25%;
       
    }
     #photo .photo1 h2 {
        font-size: 25px;
         font-weight: 700;
        color: #fff;
         padding-top:0%;
       
    }  
   
}

@media(max-width:992px) {
    body {
        background-color: #000;
        text-align: left;
        
    }
    #photo .photo1 {
        height: 50%;
    }
    #photo .photo1 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        padding-top:25%;
       
    }
     #photo .photo1 h2 {
        font-size: 25px;
         font-weight: 700;
        color: #fff;
         padding-top:0%;
       
    }
}
    


@media (min-width:993px) and (max-width:1170px) {
    body {
        background-color: #000;
        text-align: right;
        
    }
    
    #photo .photo1{
    height: 70%;
    background-image: url(img/man-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    position: absolute;
    
}


    #photo .photo1 h1 {
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        padding-top:10%;
      
       
    }
     #photo .photo1 h2 {
        font-size: 25px;
         font-weight: 700;
        color: #fff;
         padding-top:0%;
       
    }
}
