

#photo{
    height:800px;
    width: 1600px;
 
}

#photo .photo1 h1{
    font-size: 20px;
     font-weight: 700;
}

#photo .photo1 h2{
    font-size: 25px;
     font-weight: 700;
}


#photo .photo1{
    height: 100%;
    background-image: url(img/man-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 100%;
    position: relative;
    font-size: initial;
}

