form {
    background-color: #213b50;
    padding: 20px;
    color: #fff;
    width: 600px;
}

form label {
    display: block;
    margin-bottom: 1px;
}
form input, form select, form textarea {
    background-color: #2b4a64;
    border: #2b4a64 1px solid;
    
}
form input, form select {
    margin-bottom: 1px;
}

form select, form input[type"text"], form input[type"tel"], form input[type"email"], form textarea {
    width: 100px;
    background-color: #2b4a64;
    color: #fff;
    border: #2b4a64 1px solid;
    height: 10px;
}

form textarea {
    line-height: normal;
}

form select:focus, form input:focus, form textarea:focus {
    background-color: #4e708c;
    color: #fff;
    border: #2b4a64 1px solid;
    outline: none;     
}

form input[type="submit"]{
    background-color: greenyellow;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
form input[type="reset"]{
    background-color: greenyellow;
    color: #fff;
   font-weight: bold;
}
