body {
  position: relative;
}
button {
  display: inline-block;
  width: 30px;
  margin-top: 8px;
  margin-right: 2px;
  color: white;
  font-weight: 300;
  background-color: black;
}
button:hover {
  background-color: grey;
}
#kalkulator {
  height: 200px;
  width: 160px;
  text-align: center;
  position: absolute;
  background-color: orange;
}

#kalkulator #ekran {
  margin-top: 20px;
  width: 130px;
  background-color: grey;
  color: black;
}

#clear {
  background-color: blue;
  width: 65px;
}
.dzialanie {
  background-color: grey;
}
#zero {
  width: 65px;
}
#wynik {
  background-color: green;
}
#wynik:hover {
  background-color: grey;
}
#kropka {
  background-color: black;
}
#kropka:hover {
  background-color: grey;
}
