#red {
    width: 100px;
    height: 100px;
    background-color: red;
    color: #fff;
    position:absolute;
    top: 0px;
    left: :0px;
}
   
#blue {
    width: 100px;
    height: 100px;
    background-color: blue;
    color: #fff;
    position: absolute;
    top: 0px;
    left: 101px;
}
    
    #green {
    width: 100px;
    height: 100px;
    background-color: green;
    color: #fff;
    position: absolute;
    left:202px;
    top: 0px;
    }

    #yellow {
    width: 100px;
    height: 100px;
    background-color: yellow;
    color: #fff;
    position: absolute;
    left:0px;
    top: 101px;
    }
    #black {
    width: 100px;
    height: 100px;
    background-color: black;
    color: #fff;
    position: absolute;
    left:101px;
    top: 101px;
    }
 #orange {
    width: 100px;
    height: 100px;
    background-color: orange;
    color: #fff;
    position: absolute;
    left:202px;
    top: 101px;
    }
#violet {
    width: 100px;
    height: 100px;
    background-color: violet;
    color: #fff;
    position: absolute;
    left:0px;
    top: 202px;
    }
#gray {
    width: 100px;
    height: 100px;
    background-color: gray;
    color: #fff;
    position: absolute;
    left:101px;
    top: 202px;
    }
#pink {
    width: 100px;
    height: 100px;
    background-color: pink;
    color: #fff;
    position: absolute;
    left:202px;
    top: 202px;
    }

#circle-pink {
	width: 50px;
	height: 50px;
	background-color: pink;
	border-radius: 100%;
	margin: 25px auto 0;
	border: 1px solid black;
	position: relative;
}
#circle-grey  {
	width: 50px;
	height: 50px;
	background-color: grey;
	border-radius: 100%;
	margin: 0px auto 0;
	border: 1px solid black;
position: relative;
  left:100px;
}
 #circle-violet {
	width: 50px;
	height: 50px;
	background-color:violet;
	border-radius: 100%;
	margin:-50px auto 0;
	border: 1px solid black;
position: relative;
  left:200px;
}
#circle-green {
	width: 50px;
	height: 50px;
	background-color: green;
	border-radius: 100%;
	margin: 50px auto 0;
	border: 1px solid black;
	position: relative;
}
#circle-red {
	width: 50px;
	height: 50px;
	background-color: red;
	border-radius: 100%;
	margin:-55px auto 0;
	border: 1px solid black;
 position:relative;
  left:100px;
}
 #circle-blue {
	width: 50px;
	height: 50px;
	background-color:blue;
	border-radius: 100%;
	margin:-50px auto 0;
	border: 1px solid black;
position: relative;
  left:200px;
 }
 #circle-orange {
	width: 50px;
	height: 50px;
	background-color: orange;
	border-radius: 100%;
	margin: 50px auto 0;
	border: 1px solid black;
	position: relative;
 }
 #circle-yellow {
	width: 50px;
	height: 50px;
	background-color: yellow;
	border-radius: 100%;
	margin:-55px auto 0;
	border: 1px solid black;
 position:relative;
  left:100px;
}
#circle-black {
	width: 50px;
	height: 50px;
	background-color:black;
	border-radius: 100%;
	margin:-50px auto 0;
	border: 1px solid black;
position: relative;
left:200px;
}
