/* selektor znacznika */
p {
    color : orange;
}
/* selektor id */
#id-text {
    color : blue;
    font-size:  : 22px;
}
/* łączenie selektorów */
.link, div, span, #title {
    background-color: yellow;
    color: green;
}

